[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"aiohttp[speedups]" = "*"
autopep8 = "*"
altair = "*"
"cmdstanpy[all]" = "*"
fastapi = "*"
finetune = "*"
fire = "*"
flake8 = "*"
google-cloud-bigquery-storage = "*"
hypothesis = "*"
jax = "*"
jaxlib = "*"
jupyterlab = "*"
lifelines = "*"
lifetimes = "*"
mypy = "*"
networkx = "*"
nbdev = "*"
notebook = "*"
numpy = "*"
numpyro = "*"
pandas = "*"
pandas-gbq = "*"
"plotnine[all]" = "*"
pydata-google-auth = "*"
pymc3 = "*"
pytest = "*"
pytorch-lightning = "*"
scikit-learn = "*"
scikit-optimize = "*"
scipy = "*"
scispacy = "*"
skorch = "*"
spacy = "*"
spacy-lookups-data = "*"
statsmodels = "*"
streamlit = "*"
textacy = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
typer = "*"
uvicorn = "*"
vega = "*"
xgboost = "*"

[requires]
python_version = "3.8"
