aiohttp[speedups]
altair
autopep8
cmdstanpy[all]
fastapi
finetune
fire
flake8
hypothesis
isort
jax
jaxlib
lifelines
lifetimes
mypy
nbdev
networkx
notebook
numpy
numpyro
pandas-gbq
pandas
plotnine[all]
pymc3
pytest
pytorch-lightning
scikit-learn
scikit-optimize
scipy
scispacy
skorch
spacy
statsmodels
streamlit
textacy
torch
torchvision
torchaudio
tqdm
typer
uvicorn
vega
xgboost
