aiohttp[speedups]==3.6.2
altair==4.1.0
autopep8==1.5.3
fastapi==0.58.1
fire==0.3.1
flake8==3.8.3
hypothesis==5.19.0
mypy==0.782
nbdev==0.2.18
networkx==2.4
notebook==6.0.3
pandas==1.0.5
plotnine[all]==0.7.0
pytest==5.4.3
scikit-learn==0.23.1
scikit-optimize==0.7.4
spacy==2.3.0
statsmodels==0.11.1
textacy==0.10.0
tqdm==4.47.0
typer==0.3.0
uvicorn==0.11.5
vega==3.4.0
xgboost==1.1.1
